# API Gateway ENV
API_GATEWAY_PORT=8000

VEHICLES_SERVICE_URL=http://localhost:8099
AUTH_SERVICE_URL=http://localhost:5001
BOOKING_SERVICE_URL=http://localhost:4000
PAYMENT_SERVICE_URL=http://localhost:5000
NOTIFICATIONS_SERVICE_URL=http://localhost:9001
STATION_SERVICE_URL=http://localhost:6000



# FIREBASE
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/firebase-service-account.json

# POSGRES DATABASE

DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres


# Authentication_KYC Service
AUTH_PORT=5001
AUTH_DB_NAME=auth_services_db

AUTH_ACCESS_TOKEN_SECRET=e06f5bb7328d8526747d0deed1252957f5275783bb6d4ef46757a34b20845d90ee147ac81a3fda31a35c7e383f3b0f01fbb6780533f2b30a3f5d30561fec952b
AUTH_REFRESH_TOKEN_SECRET=4879d327b0ec370f44d65e504df6564c3e2a934c1635348ddceb068de84c6f9f8feb3d58c87c8175820afae4738a8bfb3ad69ba0e32712590200a88038706232


# BOOKING SERVICE
BOOKING_PORT=4000
BOOKING_DB_NAME=booking_service_db


# VEHICLES SERVICE
VEHICLE_PORT=8099
VEHICLE_DB_NAME=vehicle_service_db


# NOTIFICATION SERVICE
NOTIFICATION_PORT=9000
NOTIFICATION_DB_NAME=notification_service_db


# PAYMENT SERVICE
PAY_PORT=5000
PAY_DB_NAME=payment_service_db


# VNPAY
PAY_VNPAY_TMN_CODE=PVMZCEVA
PAY_VNPAY_SECURE_SECRET=2IQPMBRG1172ZVZ73VHSCECZSPFJ63YE
PAY_VNPAY_HOST=https://sandbox.vnpayment.vn
PAY_VNPAY_RETURN_URL=http://localhost:5000/api/v1/payments/vnpay/return
PAY_VNPAY_HASH_ALGORITHM=SHA512
PAY_VNPAY_TEST_MODE=true


# MOMO CONFIG
PAY_MOMO_PARTNER_CODE=MOMO4MUD20240115_TEST
PAY_MOMO_ACCESS_KEY=Ekj9og2VnRfOuIys
PAY_MOMO_SECRET_KEY=PseUbm2s8QVJEbexsh8H3Jz2qa9tDqoa
PAY_MOMO_RETURN_URL=http://localhost:5000/api/v1/payments/momo/return
PAY_MOMO_NOTIFY_URL=http://localhost:5000/api/v1/payments/momo/notify


# Station services
STATION_PORT=6000
STATION_DB_NAME=stations_services_db