name: eren-station
version: '3.8'

services:
  postgres:
    container_name: eren_postgres
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - D:/.database/postgresql:/var/lib/postgresql/data

  mongodb:
    container_name: eren_mongodb
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root1234
    ports:
      - '27017:27017'
    volumes:
      - D:/.database/mongo:/data/db

  api-gateway:
    build:
      context: ./api-gateway
    container_name: api_gateway
    restart: always
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      API_GATEWAY_PORT: ${API_GATEWAY_PORT:-8000}
      WEB_CLIENT_URL: ${WEB_CLIENT_URL:-http://localhost:5173}
      AUTH_SERVICE_URL: ${AUTH_SERVICE_URL:-http://auth_service:5001}
      BOOKING_SERVICE_URL: ${BOOKING_SERVICE_URL:-http://booking_service:4000}
      PAYMENT_SERVICE_URL: ${PAYMENT_SERVICE_URL:-http://payment_service:5000}
      VEHICLES_SERVICE_URL: ${VEHICLES_SERVICE_URL:-http://vehicles_service:8099}
      STATION_SERVICE_URL: ${STATION_SERVICE_URL:-http://station_service:6000}
      NOTIFICATIONS_SERVICE_URL: ${NOTIFICATIONS_SERVICE_URL:-http://notifications_service:9000}
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - D:/.database/redis:/data

volumes:
  postgres:
    driver: local
  mongodb:
    driver: local
  cache:
    driver: local