name: eren-station
version: '3.8'

services:
  postgres:
    container_name: eren_postgres
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - D:/.database/postgresql:/var/lib/postgresql/data

  mongodb:
    container_name: eren_mongodb
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root1234
    ports:
      - '27017:27017'
    volumes:
      - D:/.database/mongo:/data/db

  redis:
    container_name: eren_redis
    image: redis:latest
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - D:/.database/redis:/data

volumes:
  postgres:
    driver: local
  mongodb:
    driver: local
  cache:
    driver: local