@theme {
	--color-background: var(--background);
	--color-background2: var(--background2);
	--color-foreground: var(--foreground);
	--color-border: var(--border);

	--color-text1: var(--text1);
	/* 1p5 ===  1,5 */
	--color-text1p5: var(--text-1p5);
	--color-text2: var(--text2);
	--color-text3: var(--text3);
	--color-text4: var(--text4);
	--color-text-fore1: var(--text-fore1);
	--color-text-fore2: var(--text-fore2);
	--color-text-fore3: var(--text-fore3);

	--color-link: var(--color-link);

	--color-currency: #252b5b
}

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-saira: var(--font-saira);
	--font-inter: var(--font-inter);
	--font-quicksand: var(--font-quicksand);
	--font-segoeui: var(--font-segoeui);
}

@theme inline {
	--color-border: var(--border);
	--color-button-hover: var(--button-hover);
}

@theme inline {
	--color-primary: var(--primary);
	--color-primary-50: oklch(0.959 0.067 150.89);
	--color-primary-100: oklch(0.925 0.124 150.38);
	--color-primary-200: oklch(0.846 0.225 149.67);
	--color-primary-300: oklch(0.788 0.21 149.55);
	--color-primary-400: oklch(0.723 0.192 149.58);
	--color-primary-500: oklch(0.628 0.167 149.69);
	--color-primary-600: oklch(0.529 0.141 149.56);
	--color-primary-700: oklch(0.426 0.113 149.64);
	--color-primary-800: oklch(0.326 0.086 149.59);
	--color-primary-900: oklch(0.236 0.063 149.02);
	--color-primary-950: oklch(0.184 0.049 149.38);
}

@theme inline {
	--color-secondary: var(--secondary);
	--color-secondary-50: oklch(0.948 0.023 275.4);
	--color-secondary-100: oklch(0.906 0.042 272.32);
	--color-secondary-200: oklch(0.814 0.086 269.91);
	--color-secondary-300: oklch(0.72 0.135 266.22);
	--color-secondary-400: oklch(0.623 0.188 259.81);
	--color-secondary-500: oklch(0.54 0.175 258.53);
	--color-secondary-600: oklch(0.463 0.149 258.47);
	--color-secondary-700: oklch(0.383 0.125 258.57);
	--color-secondary-800: oklch(0.305 0.098 258.33);
	--color-secondary-900: oklch(0.219 0.07 257.72);
	--color-secondary-950: oklch(0.178 0.058 258.68);
}